:root {
  --clr-peach: hsl(11, 72%, 66%);
  --clr-black: hsl(270, 3%, 11%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-light-peach: hsl(11, 100%, 80%);
  --clr-dark-grey: hsl(264, 5%, 20%);
  --clr-light-grey: hsl(210, 17%, 95%);

  --dark-text: var(--clr-dark-grey);
  --light-text: var(--clr-white);
  --card-bg: hsl(14, 76%, 97%);

  --button-primary-bg: var(--clr-white);
  --button-primary-text: var(--clr-black);
  --button-primary-bg-hover: var(--clr-light-peach);
  --button-primary-text-hover: var(--clr-white);

  --clr-services-overlay: hsla(11, 72%, 66%, 0.8);
  --clr-nav-overlay: hsla(270, 3%, 11%, 0.7);
  --clr-line-separator: hsla(0, 0%, 100%, 0.1);
  --clr-social-icon-hover: var(--clr-light-peach);
}
